<mat-toolbar color="primary">
    <a matTooltip="Go to store" mat-icon-button routerLink="/products/management">
        <mat-icon aria-hidden="false">home_work</mat-icon>
    </a>
    <a matTooltip="Go to products" mat-icon-button routerLink="">
        <mat-icon aria-hidden="false">store</mat-icon>
    </a>
    <a matTooltip="Go to cart" mat-icon-button routerLink="/cart">
        <mat-icon aria-hidden="false">shopping_cart</mat-icon>
    </a>
</mat-toolbar>
<div class="content" role="main">
    <router-outlet></router-outlet>
</div>