<h1 mat-dialog-title>{{data.product.name}}</h1>
<div fxLayout="column" mat-dialog-content>
    <div fxLayout="row">
        <span>{{min}}</span>
        <mat-slider [max]="max" [min]="min" [(ngModel)]="data.product.count">
        </mat-slider>
        <span>{{max}}</span>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="outline">
            <mat-label>Count</mat-label>
            <input [min]="min" [max]="max" type="number" matInput [(ngModel)]="data.product.count">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial color="primary">Ok</button>
</div>