<h1 mat-dialog-title>Product</h1>
<mat-dialog-content fxLayout="column">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput required [(ngModel)]="data.name">
    </mat-form-field>
    <div fxLayout="row">
        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input type="number" matInput required [(ngModel)]="data.price">
            <span matSuffix>$ &nbsp;</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Count</mat-label>
            <input type="number" matInput required [(ngModel)]="data.count">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial color="primary">Ok</button>
</mat-dialog-actions>